@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}
body {
    background: #d2dbdb;
    font-family: 'Ubuntu', sans-serif;
}
h1, .create-column {
    margin-left: 10px;
}
h2 {
    display: inline-block;
    width: 170px;
    margin-left: 15px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    padding: 5px 10px 10px;
    margin-top: 15px;
    background: #8de08d;
    border: 1px solid #7e967e;
}
li:nth-of-type(even) {
   background: #ff9f7c;
}
.card-placeholder, li {
    height: 115px;
}
p {
    margin-top: 5px;
}
button:hover {
    cursor: pointer;
}
h6 {
    display: inline-block;
    width: 160px;
    margin-left: 10px;
    text-align: right;
    font-weight: normal;
}
.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 10px;
}
.column {
    width: 255px;
    min-height: 200px;
    padding: 0 15px 10px;
    margin: 5px;
    background: #99dbdb;
    border: 1px solid gray;
}
.btn-delete, .column-add-card,
.create-column, .card-placeholder,
 .card-placeholder:nth-of-type(even){
    background: #c0cece;
}
.create-column {
    padding: 8px;
    background: #5157ff;
    color: #fff;
}
